aiohttp==3.11.10
anyio
asyncio
coolname
fastapi
jinja2
nats-py
numpy
pandas
pillow
pydantic
pyparsing
pytest
pytest-asyncio
pytest-cov
python-ulid
pyyaml
redis
rich
sexpdata
thorpy
uvicorn
websockets
kubernetes_asyncio